<center><%= image_tag("TABlueStars.jpg", :alt => "Banner") %></center>

<div class="page">

<%= link_to 'View Question Repository', questions_path, class: 'btn btn-active_blue btn-lg btn-block' %><br>
<%= link_to 'View Existing Rounds', rounds_path , class: 'btn btn-active_purple btn-lg btn-block' %><br>
<%= link_to 'Select a Game', play_game_path, class: 'btn btn-active_green btn-lg btn-block' %>

</div>